* {
    box-sizing: border-box;
}
body {
    padding: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    background-color: hsl(221, 100%, 72%);
}

.header {
    padding: 1.5em;
    font-size: 2rem;
    text-align: center;
    background-color: #ffffff;
    overflow: hidden;
}

.description {
    background-color: #ffffff;
    height: auto;
    padding: 1.2em;
    margin: 1em;
}

.left-column {
    width: 48%;
    float: left;
}

.right-column {
    width: 50%;
    float: left;
    padding-left: 1.5em;
    margin-left: 10px;
}

.image {
    height: 100%;
    padding: 2em;
    margin-top: 2px;
    background-color: #ffffff;
}

.ingredients {
    padding: 0.5em;
    background-color: #ffffff;

}

.instructions {
    padding: 1em;
    margin-top: 730px;
    /*max-height: 500px;*/
    background-color: #ffffff;
}

.main:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    text-align: center;
    padding: 1.5em;
    margin-top: 2rem;
    background-color: #ddd;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }