* {
    box-sizing: border-box;
}
body {
    padding: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    background-color: hsl(158, 96%, 20%);
}

.description, .image,
.ingredients, .instructions {
    background-color: hsl(70, 100%, 85%);
}

.header {
    padding: 1.5em;
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
    color: #025033;
    background-color: hsl(58, 100%, 58%);
}

.description {
    height: auto;
    padding: 1.2em;
    margin: 1em;
}

.left-column {
    width: 48%;
    float: left;
}

.right-column {
    width: 50%;
    float: left;
    padding-left: 1.5em;
    margin-left: 10px;
}

.image {
    height: 100%;
    padding: 2em;
    margin-top: 2px;
}

.ingredients {
    padding: 0.5em;
}

.instructions {
    padding: 1em;
    margin-top: 740px;
}

.main:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    text-align: center;
    padding: 1.5em;
    margin-top: 0.5rem;
    background-color: hsl(58, 100%, 58%);
    /*background-color: #ddd;*/
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }